<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Projects</h1>

  <table class="table table-responsive">
    <thead class= "table-info">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Sprints</th>
        <th>Bugs</th>
        <th>Actions</th>
        <th>Users</th>
        <th>Add User</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><strong><%= link_to "#{project.name}", project %></strong></td>
          <td><%= project.description %></td>
          <td><%= link_to image_tag('sprint-img.png', class: 'bug-image'), project_sprints_path(project) %></td>
          <td><%= link_to image_tag('bug.png', class: 'bug-image'), project_bugs_path(project) %></td>
          <td>
            <%= link_to 'Show', project, class: 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-xs btn-info' if policy(project).update? %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' if policy(project).destroy? %>
          </td>
          <td> <%= link_to "", project_users_path(project.id), class: 'fa fa-users fa-lg' %> </td>
          <td><%= link_to_if current_user.manager?, "Invite User", new_user_invitation_path(project_id: project.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
</div>
