<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Bugs</h1>

  <table class="table responsive">
    <thead class= "table-info">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Type</th>
        <th>Status</th>
        <th>User</th>
        <th>Project</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @bugs.each do |bug| %>
        <tr>
          <td> <strong><%= link_to "#{bug.title}", bug %></strong> </td>
          <td><%= bug.description %></td>
          <td><%= bug.deadline %></td>
          <td><%= bug.bug_type %></td>
          <td><%= bug.status %></td>
          <td><%= bug.user.display_name %></td>
          <td><%= bug.project.name %></td>
          <td>
            <%= link_to 'View', bug %>
            <%= link_to 'Update', edit_bug_path(bug)%>
            <%= link_to 'Delete', bug, method: :delete, data: { confirm: 'Are you sure?' } if policy(bug).destroy? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Report Bug', new_project_bug_path(@project.id), class: 'btn btn-success' if policy(Bug).new? %>
</div>
