<div class="container">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Edit', edit_bug_path(@bug) %>
  <h3>
    <strong>Title:</strong>
    <%= @bug.title %>
  </h3>

  <p>
    <strong>Description:</strong>
    <%= @bug.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= @bug.deadline %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @bug.bug_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @bug.status %>
  </p>

  <p>
    <strong>User ID:</strong>
    <%= @bug.user.id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= @bug.project.name %>
  </p>
  <% if @bug.avatar.present? %>
    <p>
      <strong>Image:</strong>
    </p>
    <%= image_tag @bug.avatar_url(:thumb).to_s, class: 'img-thumbnail' %>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Know about this bug? Contribute</h3>
      <%= link_to "Add Solution", new_project_bug_path(post_id: @bug.id, project_id: @bug.project_id) %>
    </div>
  </div>
</div>
